
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

// Sass Varicables

$main-yellow:rgb(255, 231, 0);
$main-dark-green: rgb(0,34,0);
$main-medium-green: rgb(0,136,0); 

html {
	font-size: 5vw;
}


:root {
	--slipHeaderHeight:0px ;
}

body {
	position: relative;
	color: #fff;
	border-right: 2px solid rgba(150,150,150,1);
	min-height: 100vh;
	background-color: rgb(200, 200, 200);
}

h1, h2, h3, h4 , h5, p, a, input, span {
	font-family: 'Raleway',sans-serif;
	color: inherit;
}

p, span, a, input, .btn {
	font-size: 1rem;
}

.btn {
	padding: 3vw 4vw;
}

h1 {
	font-size: 3rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    // 50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.loader-backdrop {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	opacity: 0;
	&.active {
		opacity: 1;
		z-index: 2;
		.loader-container {
			opacity: 1;
			z-index: 3;
		}
	}
}

.loader-container {
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

.section {

	.container {
		padding: 1vw 2vw;
	}
	&.header {
		background: linear-gradient(176deg,rgb(0, 0, 0),rgb(120,120,120),rgb(30, 30, 30));
		.bet-now-logo {		
			width: 65%;
			margin-bottom: 0.5rem;
		}
		.placed-bets {
			font-size: 0.8rem;
			font-weight: 900;
		}

	}
}

.col-sm-6 {
	padding-left: 0;
	padding-right: 0;
}

div.header {
	a {
		position: relative;
		display: inline-block;
		&.placed-bets {
			float: right;
		}
	};
};

div.main {
	div.event, .bet-wrapper {
		display: block;
		padding-right: 2.5vw;
		padding-left: 3.5vw;
		padding-top: 5vw;
		padding-bottom: 3vw   
		// border-bottom: 2px solid rgba(0,0,0,1);

	}
	.bet-wrapper {
		span {
			font-size: 1rem;
		}
		span.bet-odds {
			color: #ffe700;
		}		
	}

	available-bets {
		min-height: 100vh;
		.event {
			color: inherit;
			background: linear-gradient(176deg,#002200,#008800);
			font-size: 1.2rem;
		}

		.bet-wrapper {
			background: linear-gradient(176deg,rgb(20, 20, 20),rgb(80,80,80));
			span {
				display: inline-block;
			}
			span.bet-odds {
				color: #ffe700;
				margin-left: 5vw;
			}
		}
	}

	slip, .placed-bets {
		width: 100%;
		background: linear-gradient(0deg,#413f3f,#808080);


		&.slip-wrapper {
			h2.slip-header {
				font-size: 1.5rem;
				display: inline-block;
				margin: 0 0 0 3.5vw;
				.glyphicon-chevron-down {
					display: none;
				}
				.glyphicon-chevron-up {
					display: initial;
				}
			}					
		}

		.slip-header-section {
			padding-top: 3.5vw;			
			padding-bottom: 3vw;
			border-bottom: 1px solid #aaaaaa;		
			.bet-counter {
				border-radius: 100%;
				background-color: $main-yellow;
				display: inline-block;
				min-width: 7.5vw;
				min-height: 7.5vw;
			    vertical-align: text-top;				
				text-align: center;
				color: $main-medium-green;
				font-size: 0.8rem;
				font-weight: 900;
				border: 3px solid white;
				padding-top: 0.5vw;
				margin-top: 1vw;
			}
		}

		.slip-line-wrapper, .placed-bet-wrapper {
			padding: 2vw 3.5vw 1.5vw 3.5vw;
			border-bottom: 1px solid #aaaaaa;
		}

		.form-group, .placed-bet-wrapper {
			margin: 0;
		}
		.event-name, .trans-id {
			display: block;
			font-size: 0.65rem;
		}
		span.bet-odds {
			float: right;
		}
		.bet-wrapper {
			padding: 0;
		}		
		.bet-name-group, .bet-stake-group, .bet-trans-id-group {
			padding: 0;
			padding-right: 2vw;
		}
		.return {
			font-size: 0.65rem;
			float: right;
			margin-right: 1vw;
		}
		input.stake {
			color: #fff;
			height: auto;
			font-size: 0.9rem;
			border-radius: 0;
			background-color: #938f8f;
			border-color:#484848;
			&::placeholder {
				color: #fff;
			}
		}

	 	&.active {
	 		transform: translateY(0);
			transition: all ease-in 300ms;	 		
			h2.slip-header {
				.glyphicon-chevron-down {
					display: initial;
				}
				.glyphicon-chevron-up {
					display: none;
				}
			}
	 	}
	 	&:not(.active) {
			transition: all ease-in 300ms;	 		
	 	}
		input.ng-touched.ng-invalid {
			border: 1px solid red;
		}

		input.ng-dirty.ng-valid {
			border: 1px solid green;
		}


		input.btn.place-bets {
			display: block;
			position: relative;
			margin: 2.5vw auto;
			width: 90%;
			border:none;
			background-color: #ffe700;
			color: #006600;
			border-radius:0;
			font-weight: 900;

		}
		
	}


	slip {
		position: fixed;
		bottom: 0;
		transform: translateY(calc(100% - var(--slipHeaderHeight)));	 		
		.bet-name-group {
			padding-right: 2vw;
			padding-top: 1vw;
		}
	}

	.placed-bets {
		.bet-trans-id-group {
			text-align: center;
			span {
				display: block;
				margin: 0 auto;
			}
		}
		span.bet-odds {
			float: none;
		}
		span.stake {
			float: right;
		}
	}	

}
