
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

// Sass Varicables

$yellow:rgb(255, 231, 0);
$dark-green: rgb(0,34,0);
$medium-green: rgb(0,136,0);
$light-gray: rgb(200, 200, 200);
$medium-gray: rgb(150,150,150);
$dark-gray: rgb(80, 80, 80);

html {
	font-size: 5vw;
}


:root {
	--slipHeaderHeight:0px ;
}

body {
	position: relative;
	color: #fff;
	border-right: 2px solid rgba(150,150,150,1);
	min-height: 100vh;
	background-color: $light-gray;
}

h1, h2, h3, h4 , h5, p, a, input, span, button {
	font-family: 'Raleway',sans-serif;
	color: inherit;
}

p, span, a, input, .btn {
	font-size: 1rem;
}


.btn {
	padding: 3vw 4vw;
	border-radius:0;
	font-weight: 900;
	margin: 2.5vw auto;	
	&.dialog-btn {
		margin-right: 1vw;
		float: right;
		color: #fff;
		padding: 1vw 3vw;
		font-size: 0.65rem;
		margin-bottom: 0;
	    background-color: transparent;
	    border: 1px solid #fff;		
		&:hover {
			color: $medium-gray;
			background-color: #fff;	
		}
	}
}

h1 {
	font-size: 3rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// @keyframes colorWave {
// 		0% {color:  }
// 	}



.backdrop {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	opacity: 0;
	&.active {
		opacity: 1;
		z-index: 2;
	}
}

.loader-container {
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	&.active {
		opacity: 1;
		z-index: 3;	
	}
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

.section {

	.container {
		padding: 1vw 2vw;
	}
	&.header {
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		max-height: 25vw;
		background: linear-gradient(176deg,rgb(0, 0, 0),rgb(120,120,120),rgb(30, 30, 30));
		.nav {
			margin-bottom: 2vw;
		}
		
		.bet-now-logo-container {		
			width: 65%;
			margin-bottom: 0.5rem;
			img {
				width: 65vw;
			}
		}
		.placed-bets {
			font-size: 0.8rem;
			font-weight: 900;
			transition: all linear 300ms;
			text-decoration: none;
			
			&:active {
				color: #fff;
			}
			&:visited {
				color: #fff;		
			}
			&:hover{
				color: $yellow;
			}
		}

	}

	&.main {
		position: relative;
		// margin-top: 20vw;
	}
}

.col-sm-6 {
	padding-left: 0;
	padding-right: 0;
}

div.header {
	a {
		position: relative;
		display: inline-block;
		&.placed-bets {
			float: right;
		}
	};
};

div.main {
	div.event, .bet-wrapper {
		display: block;
		padding-right: 2.5vw;
		padding-left: 3.5vw;
		padding-top: 5vw;
		padding-bottom: 3vw   
	}
	.bet-wrapper {
		cursor: pointer;
		span {
			font-size: 1rem;
		}
		span.bet-odds {
			color: #ffe700;
		}		
	}

	available-bets, .placed-bets {
		position: absolute;
		top: 20vw;
		width: 100vw;
	}

	available-bets {
		bet {			
			height: auto;
		}
		.bets {
			margin-bottom: var(--slipHeaderHeight);
			overflow-y: scroll;
		}
		min-height: 100vh;
		.event {
			color: inherit;
			background: linear-gradient(176deg,#002200,#008800);
			font-size: 1.2rem;
		}

		.bet-wrapper {
			background: linear-gradient(176deg,rgb(20, 20, 20),rgb(80,80,80));
			span {
				display: inline-block;
			}
			span.bet-odds {
				color: #ffe700;
				margin-left: 5vw;
			}
		}
	}

	slip, .placed-bets {
		width: 100%;
		background: linear-gradient(0deg,#413f3f,#808080);


		&.slip-wrapper {
			h2.slip-header {
				font-size: 1.5rem;
				display: inline-block;
				margin: 0 0 0 3.5vw;
				.glyphicon {
					font-size: 0.65rem;
				}				
				.glyphicon-chevron-down {
					display: none;
				}
				.glyphicon-chevron-up {
					display: initial;
				}
			}					
		}

		.slip-header-section {
			height: 15vw;
			padding-top: 3.5vw;			
			padding-bottom: 3vw;
			border-bottom: 1px solid #aaaaaa;
			cursor: pointer;	
			.bet-counter {
				color: $medium-green;
				border-radius: 100%;
				background-color: $yellow;
				display: inline-block;
				min-width: 7.5vw;
				min-height: 7.5vw;
			    vertical-align: text-top;				
				text-align: center;
				color: medium-green;
				font-size: 0.8rem;
				font-weight: 900;
				border: 3px solid white;
				padding-top: 0.5vw;
				margin-top: 1vw;
			}
		}

		.slip-line-wrapper, .placed-bet-wrapper {
			padding: 2vw 3.5vw 1.5vw 3.5vw;
			border-bottom: 1px solid #aaaaaa;
		}

		.form-group, .placed-bet-wrapper {
			margin: 0;
		}
		.event-name, .trans-id {
			display: block;
			font-size: 0.65rem;
		}
		span.bet-odds {
			float: right;
		}
		.bet-wrapper {
			padding: 0;
		}		
		.bet-name-group, .bet-stake-group, .bet-trans-id-group {
			padding: 0;
			padding-right: 2vw;
		}
		.return {
			font-size: 0.65rem;
			float: right;
			margin-right: 1vw;
		}
		input.stake {
			text-align: center;
			color: #fff;
			height: auto;
			font-size: 0.9rem;
			border-radius: 0;
			background-color: #938f8f;
			border-color:#484848;
			&::placeholder {
				color: #fff;
			}
		}

	 	&.active {
	 		transform: translateY(0);
			transition: all ease-in 300ms;	 		
			h2.slip-header {
				.glyphicon-chevron-down {
					display: initial;
				}
				.glyphicon-chevron-up {
					display: none;
				}
			}
	 	}
	 	&:not(.active) {
			transition: all ease-in 300ms;	 		
	 	}

		input.btn.place-bets {
			display: block;
			position: relative;
			margin: 2.5vw auto;
			width: 90%;
			border:none;
			background-color: #ffe700;
			color: #006600;

		}
		
	}

	slip {
		position: fixed;
		bottom: 0;
		transform: translateY(calc(100% - var(--slipHeaderHeight)));	 		
		.bet-name-group {
			padding-right: 2vw;
			padding-top: 1vw;
		}
		form.slip-main-section {
		&.ng-submitted {
			input.ng-invalid {
				border: 1px solid red;
				color: red;
				background-color: rgb(255,160,160);
				&::placeholder {
					color: rgb(200,50,50);
				}
			}
		}
		input.ng-touched.ng-invalid {
			border: 1px solid red;
			color: red;
			background-color: rgb(255,160,160);
			&::placeholder {
				color: rgb(200,50,50);
			}			
		}

		input.ng-dirty.ng-valid {
			border: 1px solid green;
		}
		}
	}

	.placed-bets {
		.bet-trans-id-group {
			text-align: center;
			span {
				display: block;
				margin: 0 auto;
			}
		}
		span.bet-odds {
			float: none;
		}
		span.stake {
			float: right;
		}
	}

	error {
		.error-dialog {
			background-color: $medium-gray;
			color: #fff;
			width: 80%;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-150vw,-50%);
			padding: 3.5vw 3vw;
			transition: all ease-in 300ms;
			opacity: 0;
			z-index: 3;
			&.active {
				opacity: 1;
				transform: translate(-50%,-50%);
			}
			.error-message {
				font-size: 0.85rem;
			}
		}
	}	

}



.odds-type-container {
	float: right;
}

.odds-type-header {
	font-size: 0.5rem;
}

.odds-type-header, .switch {
	display: block;
	margin: 0 auto;
}


// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 15vw;
  height: 7vw;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 5vw;
  width: 5vw;
  left: 1vw;
  bottom: 1vw;
  top: 1vw;
  background-color: $dark-gray;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $yellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px $yellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8vw);
  -ms-transform: translateX(8vw);
  transform: translateX(8vw);
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}