<!DOCTYPE html>
<html>
<head>
	<title>Bet Now!</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/vendor/angular.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">	
</head>
<body ng-app="BetNow">
	
	<div class="header">
		<h1>Bet Now</h1>
	</div>
	<h2>Available Bets</h2>
	<div ng-controller="BetController">
		<div ng-repeat="event in events">
			<p>Win {{event.name}}</p>
			<div ng-repeat="bet in event.bets">		
				<p>{{bet.name}} {{bet.odds.numerator}}/{{bet.odds.denominator}}</p>
				<button>bet</button>
			</div>
		</div>
	</div>


	<!-- Modules -->
	<script type="text/javascript" src="js/app.js"></script>

	<!-- Controllers -->

	<script type="text/javascript" src="js/controllers/BetController.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="js/services/markets.js"></script>
</body>
</html>