<div class="slip" ng-controller="SlipController">
	<form name="bettingSlip" ng-submit="bettingSlip.$valid && placeBets(slip)" novalidate>
		<h2>Your Betting Slip</h2>
		<div ng-repeat="bet in slip">
			<div class="form-group">
				<p>
					<bet></bet>
						<label for="stake" form="bettingSlip">Stake</label>
						<input type="number" name="stake" placeholder="Enter your stake" class="form-control" ng-model="bet.stake" required>
					</span>
					<span>
						Return {{bet.stake == null ? 0 : (bet.stake / bet.odds.denominator * bet.odds.numerator) + bet.stake;}}
					</span>
				</p>	
			</div>
		</div>
		<span>
			<input class="btn" type="submit" value="Place Bets" class="form-control">
		</span>
	</form>
</div>